
.about-container {
  background-image: url('w.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.about-title {
  color: rgb(39, 163, 225);
  margin-bottom: 20px;
  font-family: 'Fira Mono', monospace;
  font-size: 2em;
}

.about-text {
  color: white; /* Add this line to make the text white */
}
