.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("w.jpeg"); /* Add background image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    color: #fcf6f6; /* White text */
    animation: gradient 5s ease infinite; /* Apply gradient animation */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.home-title {
    font-size: 48px; /* Increase font size */
    font-weight: bold; /* Make the text bold */
    margin-top: 50px; /* Add margin to the top */
    text-align: center; /* Center the text */
    color: #0e85e0;
}


button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all .7s;
}

button:hover {
    color: #fff;
}

button:hover:before {
    top: -30px;
    left: -30px;
}

button:active:before {
    background: #3a0ca3;
    transition: background 0s;
}
