.login-container {
  width: 100%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: url('6.jpeg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
  color: rgb(244, 239, 239); /* Set text color to white */
}

.login-container h2 {
  width: 300px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
}

.login-container input {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgb(15, 14, 14); /* Set text color to white */
}

.login-container button {
  width: 300px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}
